

  #logo {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  #login {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    max-width: 600px;
    border: 6px outset #1C6EA4;   
  }

  .site-layout-content {
    min-height: 280px;
    padding: 6px 24px 24px 24px;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  #header-invoice li {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  padding: 0px 40px 0px 40px;
  }

.garis-miring hr {
  padding: 0px;
  margin: 0px;
}

  #right-side {
    position: absolute;
    right: 0px;
    width: 600px;
    border: 1px solid black;
    padding: 0px;
  }

  .button-kanan {
    position: absolute;
    bottom: 225px;
    right: 0px;
    margin: 10px 415px 0px 0px;
  }